@config "../tailwind.config.js";
@import "tailwindcss";

@layer base {
  body {
    background-color: #f9f9fb;
    color: #1a1c1d;
    font-family: 'Inter', sans-serif;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}
